body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  padding: 6px;
  justify-items: center;
}

@media (max-width: 860px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Better control for portrait phones */
@media (max-width: 768px) and (orientation: portrait) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  width: 99%;
  aspect-ratio: 63/88;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform-style: preserve-3d; /* <- firefox issuesss */
  -webkit-transform-style: preserve-3d; /* <- iOS issues ??? */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; /* <- iOS */
  cursor: pointer;
  transform: translateZ(0); /* <- Firefox issues maybe*/  
  -webkit-transform: translateZ(0); /* <- Firefox issues maybe*/  
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* <- Needed for iOS?*/  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* <- iOS */
  border: 2px solid #ccc;
  border-radius: 33px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden; /*may or may not need*/
  -webkit-backface-visibility: hidden; /* <- Also iOS */
}

.card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* <- Needed for Safari */
}
